#map{
    height: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.top-container{
}
img{
    height: 30px;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content:flex-start;
}

.nav-bar p{
    border: solid black 1px;
    padding: 50px;
    width: 18%;
   background-color: maroon;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}

a:hover { text-decoration: none; color:yellow; }
a{
text-decoration: none;
color: white;
}
